body {
    font-family: 'Merriweather', serif;
    background-color: #1b1b1b;
    color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
}

#game-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

#landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('background.jpg') no-repeat center center/cover;
}

h1 {
    font-size: 3em;
    margin: 0.5em 0;
    color: #ffd700;
    text-shadow: 2px 2px 4px #000000;
}

p {
    font-size: 1.2em;
    margin: 0.5em 0;
    max-width: 600px;
}

#start-button {
    padding: 15px 30px;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #5f4bb6;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#start-button:hover {
    background-color: #4a3b92;
    transform: scale(1.05);
}

#level-container {
    display: none;
    padding: 20px;
}
